target/classes/mule_maven_ci_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="maven" doc:name="HTTP Listener Configuration"/>
    <flow name="mule_maven_ci_test">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/ci/test" doc:name="HTTP"/>
        <logger message="mule_maven_ci_test is invoked." level="INFO" doc:name="Initial Log"/>
        <set-payload value="#['Hi Mule']" doc:name="Set Payload"/>
        <logger message="Payload: #[payload]" level="INFO" doc:name="Logger"/>
        <logger message="Exit from mule_maven_ci_test." level="INFO" doc:name="Exit Log"/>
    </flow>
</mule>
